# Project
storage

# Python
*.egg
*.egg-info/
*.pyc
.Python
.coverage
.mypy_cache
.ropeproject
.ruff_cache
.venv
__pycache__/
_version.py
dist/

# Direnv
.envrc

# Vim
*.sw*

# Scripts
build.sh
clean.sh

.DS_Store
